html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
figure,
figcaption,
footer,
header,
nav,
section,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}
body,
button,
input {
  font-family: "Samsung Sharp Sans 200", sans-serif;
}
ol,
ul {
  list-style: none;
}
button {
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
}
button:disabled {
  cursor: default;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  border-radius: 0;
}
img {
  vertical-align: top;
}

.blind {
  margin: -1px !important;
  padding: 0 !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
